name: Build and Distribute iOS Open URL Safari App

on:
    workflow_dispatch:
  #push:
  #saving for comments
   # branches:
    #  - main

jobs:
  build_and_distribute:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
            xcode-version: latest-stable

      - name: Install Dependencies
        run: |
         # pod install

      - name: Install the Apple certificate and provisioning profile
        id: import_certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        
        run: |
          # Create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          - name: Set Environment Variable
          echo "CERTIFICATE_PATH=$CERTIFICATE_PATH" >> $GITHUB_ENV
          echo "PP_PATH=$PP_PATH" >> $GITHUB_ENV
          echo "KEYCHAIN_PATH=$KEYCHAIN_PATH" >> $GITHUB_ENV

          # Import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # Create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # Import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # Apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles


      - name: Cleanup
        run: |
          # Printing the Variables to clean up the secrets
           # Access the paths from job-level outputs
          echo -n "$CERTIFICATE_PATH" 
          echo -n "$PP_PATH"
          echo -n "$KEYCHAIN_PATH"
          ls -lf $CERTIFICATE_PATH
          ls -lf $PP_PATH
          ls -lf $KEYCHAIN_PATH
          rm $CERTIFICATE_PATH  # Remove the certificate file
          rm $PP_PATH           # Remove the provisioning profile file
          security delete-keychain $KEYCHAIN_PATH  # Remove the temporary keychain
          rm $KEYCHAIN_PATH     # Remove the keychain file
         
      
