name: Build and Distribute iOS Open URL Safari App

on:
    workflow_dispatch:
  #push:
  #saving for comments
   # branches:
    #  - main

jobs:
  build_and_distribute:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
            xcode-version: latest-stable

      - name: Install Dependencies
        run: |
         # pod install

      - name: Install the Apple certificate and provisioning profile
        id: import_certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        
        run: |
          # Create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # Import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # Create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # Import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # Apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

          # name: Set Environment Variable
          echo "CERTIFICATE_PATH=$CERTIFICATE_PATH" >> $GITHUB_ENV
          echo "PP_PATH=$PP_PATH" >> $GITHUB_ENV
          echo "KEYCHAIN_PATH=$KEYCHAIN_PATH" >> $GITHUB_ENV


      - name: List GitHub Environment Variables
        run: |
            env
            cat $GITHUB_ENV

      - name: Get Code Signing Identity
        id: get_code_signing_identity
        run: |
          # Retrieve the code signing identity from your Keychain
          CODE_SIGN_IDENTITY=$(security find-identity -v -p codesigning | grep "Apple Development" | awk -F '"' '{print $2}' | tail -1)
          echo "::set-output name=code_signing_identity::$CODE_SIGN_IDENTITY"

      - name: Set iOS Deployment Target
        run: |
          NEW_DEPLOYMENT_TARGET=14.0
          plutil -replace IPHONEOS_DEPLOYMENT_TARGET -string $NEW_DEPLOYMENT_TARGET openUrlInSafari.xcodeproj/project.pbxproj
          cat openUrlInSafari.xcodeproj/project.pbxproj

      - name: Build iOS App
        run: |
            xcodebuild 
             -project openUrlInSafari.xcodeproj \
             -target openUrlInSafari \
             -sdk iphoneos \
             -configuration Release \
             -archivePath $HOME/"ITSM & ITAM.archive" \
             CODE_SIGN_STYLE="Manual" \
             CODE_SIGN_IDENTITY="${{ steps.get_code_signing_identity.outputs.code_signing_identity }}" 


      - name: Cleanup
        run: |
          # Printing the Variables to clean up the secrets
           # Access the paths from job-level outputs
          echo -n "$CERTIFICATE_PATH" 
          echo -n "$PP_PATH"
          echo -n "$KEYCHAIN_PATH"
          ls -lf $CERTIFICATE_PATH
          ls -lf $PP_PATH
          ls -lf $KEYCHAIN_PATH
          rm -rf $CERTIFICATE_PATH  # Remove the certificate file
          rm -rf $PP_PATH           # Remove the provisioning profile file
          security delete-keychain $KEYCHAIN_PATH  # Remove the temporary keychain
          rm -rf $KEYCHAIN_PATH     # Remove the keychain file
         
      
