name: Build and Distribute iOS Open URL Safari App

on:
    workflow_dispatch:
  #push:
  #saving for comments
   # branches:
    #  - main

jobs:
  build_and_distribute:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
            xcode-version: latest-stable

      - name: Install Dependencies
        run: |
          pod install
